# ===============================
# Java / Maven
# ===============================
target/
backend/hyperlocal-backend/src/test/    
# ===============================
# Node / React
# ===============================
node_modules/

# ===============================
# Environment & Secrets
# ===============================
**/application-dev.properties
**/*.env

# ===============================
# IDE
# ===============================
.idea/
.vscode/

# --- Documentation ---
CODE_OPTIMIZATION.md
COMPONENT_API.md
POST_LOGIN_FLOW.md
POST_LOGIN_SETUP.md
CONDITIONAL_RENDERING_PATTERNS.md
.github

# Uploaded files
uploads/
profile-photos/
src/main/resources/uploads/
src/main/resources/static/uploads/

PROJECT_DOCUMENTATION.md
backend/hyperlocal-backend/docs/
frontend/hyperlocal-frontend/BACKEND_API_ENDPOINTS.md


# Python
__pycache__/
*.pyc

# Logs
*.log

# ML models
*.pkl

# Dataset (optional)
*.csv

ai-ml/hyperlocal_ai_service.postman_collection.json
(-h)\357\200\242git log --pretty=format\357\200\272\357\200\242- -s (-h)\357\200\242