# ===============================
# Java / Maven
# ===============================
target/

# ===============================
# Node / React
# ===============================
node_modules/

# ===============================
# Environment & Secrets
# ===============================
**/application-dev.properties
**/*.env

# ===============================
# IDE
# ===============================
.idea/
.vscode/

# --- Documentation ---
CODE_OPTIMIZATION.md
COMPONENT_API.md
.github